<div align = "center">
<h1>신이 나를 만들때</h1>

<p>
<%= @pickedChar[0]%>을 <%= @pickedSpoon[0]%>스푼 넣고<br>
<%= image_tag(@pickedSpoon[0])%><br>
<%= @pickedChar[1]%>은 <%= @pickedSpoon[1]%>스푼 정도 넣어볼까?<br>
<%= image_tag(@pickedSpoon[1])%><br>
그리고 <%= @pickedChar[2]%>을 <%= @pickedSpoon[2]%>스푼..!<br>
<%= image_tag(@pickedSpoon[2])%><br>
</p>
</div>

